/* src/styles/global.css */
.bg-principal {
    background-color: #007bff; /* Color azul */
  }
  
  .text-white {
    color: white;
  }
  
  .hover\:text-secundario:hover {
    color: #ffcc00; /* Color amarillo */
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .text-3xl {
    font-size: 1.875rem; /* 30px */
  }
  
  .mb-4 {
    margin-bottom: 1rem; /* 16px */
  }
  
  .py-6 {
    padding-top: 1.5rem; /* 24px */
    padding-bottom: 1.5rem; /* 24px */
  }
  
  .px-4 {
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .items-center {
    align-items: center;
  }
  
  .space-y-4 > * + * {
    margin-top: 1rem; /* 16px */
  }
  
  .md\:flex-row {
    flex-direction: row;
  }
  
  .md\:space-y-0 > * + * {
    margin-top: 0;
  }
  
  .md\:space-x-6 > * + * {
    margin-left: 1.5rem; /* 24px */
  }
  
  .md\:justify-center {
    justify-content: center;
  }