---
//Header.astro
---


<header class="bg-white text-black">
      <!-- Enlaces de navegación centrados -->
      <nav class="font-sans flex flex-row justify-between items-center px-6 py-4 bg-white text-black">
        <h1 class="text-2xl font-bold">IT UNIVERSITY COMMUNITY</h1>
        <div class="flex space-x-6 text-lg">
            <a href="/" class="hover:text-green-600 py-2">Inicio</a>
            <a href="/about" class="hover:text-green-600 py-2">Acerca de</a>
            <a href="/services" class="hover:text-green-600 py-2">Servicios</a>
            <a href="/blog" class="hover:text-green-600 py-2">Blog</a>
            <a href="/contact" class="transition-colors duration-300 hover:text-white hover:bg-green-600 border-2 border-green-600 py-2 px-4">Contacto</a>
        </div>
    </nav>
  </header>