<section class="bg-white py-16">
    <div class="container mx-auto px-4">
        <h3 class="text-green-600 font-semibold text-sm uppercase">CERTIFICATIONS FOR ALL</h3>
    <h2 class="text-3xl font-bold mb-8">Unlock your potential with tailored training</h2>
    <div class="container flex flex-row mx-auto px-4 py-8">
        <!-- Free Certification Plan -->
        <div class="bg-white p-6 rounded-lg shadow-md mb-6">
            <h2 class="text-2xl font-semibold mb-4">Free Certification Plan</h2>
            <p class="text-gray-600 mb-4">Start your IT journey with our Free Certification Plan.</p>
            <p class="text-green-600 font-bold mb-4">Free</p>
            <p class="text-gray-700">Unlock your potential with our Free Certification Plan. This plan offers access to essential IT training materials, allowing you to gain foundational knowledge in various IT disciplines. Ideal for beginners, this plan empowers you to explore the world of technology without any financial commitment. Dive into our rich library of resources, including tutorials, videos, and quizzes designed.</p>
            <a href="" class="underline mt-4 inline-block">Read more</a>
        </div>

        <!-- Premium Certification Plan -->
        <div class="bg-white p-6 rounded-lg shadow-md mb-6">
            <h2 class="text-2xl font-semibold mb-4">Premium Certification Plan</h2>
            <p class="text-gray-600 mb-4">Advance your career with our Premium Certification Plan.</p>
            <p class="text-blue-600 font-bold mb-4">$25/month</p>
            <p class="text-gray-700">Elevate your IT career with our Premium Certification Plan. This comprehensive package provides advanced resources, expert-led training sessions, and personalized mentorship. Gain exclusive access to in-depth content that covers the latest technologies and industry trends. With a focus on hands-on experience, you will engage in practical exercises and real-world projects that prepare you for.</p>
            <a href="" class="underline mt-4 inline-block">Read more</a>
        </div>

        <!-- Training Plans -->
        <div class="bg-white p-6 rounded-lg shadow-md  mb-6">
            <h2 class="text-2xl font-semibold mb-4">Training Plans</h2>
            <p class="text-gray-600 mb-4">Customize your learning with our flexible Training Plans.</p>
            <p class="text-purple-600 font-bold mb-4">$/month</p>
            <p class="text-gray-700">Transform your IT expertise with our tailored Training Plans. Choose from three distinct options—3, 6, or 9 sessions—each designed to cater to your learning pace and goals. Whether you’re looking to sharpen specific skills or gain comprehensive knowledge in a particular area, our training sessions are structured to provide practical insights and hands-on experience. Led by</p>
            <a href="" class="underline mt-4 inline-block">Read more</a>
        </div>
    </div>
    </div>
</section>