---
// CenteredContent.astro
const { imageSrc = "https://media.istockphoto.com/id/1464539429/es/foto/hombre-de-negocios-reflexivo-con-una-tableta-digital.jpg?s=612x612&w=0&k=20&c=ZuAqe0Uo1QCIkHPKEJkOS-ToRb-j3xt3QZSZvBNfrgg=", imageAlt = "Imagen de ejemplo", text = "Discover innovative tools designed to enhance learning experiences. Empower students and educators with cutting-edge technology tailored for your academic institution.", buttonText = "Explorar soluciones" } = Astro.props;
---

<div class="flex flex-col items-center justify-center bg-principal space-y-4 w-full">
    <!-- Contenedor con ancho máximo uniforme -->
    <div class="flex flex-col items-center w-full max-w-2xl">
      <!-- Imagen -->
      <img src={imageSrc} alt={imageAlt} class="w-full h-96 object-cover rounded-lg shadow-lg" />
  
      <!-- Texto -->
      <p class="font-sans text-center text-6xl text-white w-full p-5">Transform Education Today</p>
      <p class="text-center text-lg text-white w-full p-5">{text}</p>
  
      <!-- Botón -->
      <button class="bg-transparent hover:bg-secundario text-secundario font-semibold hover:text-white py-2 px-4 border border-secundario hover:border-transparent rounded">
        {buttonText}
      </button>
    </div>
  </div>
  
  
</div>