---
const {
  title = "Empowering Educators with Tech Solutions",
  description = "Welcome to ITUNIVERSITY, your trusted partner in educational technology solutions based in the vibrant city of Puebla de Zaragoza, Puebla, México. We specialize in providing innovative tech-driven learning tools and resources designed to empower educational institutions and enhance the educational experience. Our dedicated team of experts is committed to delivering tailored solutions that meet the unique needs of each client, ensuring students and educators have access to cutting-edge technology that fosters an engaging and effective learning environment. Join us in transforming education through technology excellence.",
  buttonText = "Botón"
} = Astro.props;
---
<div class="flex flex-row">
  <!-- Sección de Texto -->
  <div class="font-sans relative bg-white py-12 w-full flex items-center">
    <div class="container mx-auto max-w-2xl">
      <h3 class="text-green-600 font-semibold text-xl uppercase">Unlock your potential</h3>
      <h2 class="text-4xl font-bold mb-4">{title}</h2>
      <p class="text-xl mb-8">{description}</p>
    </div>
  </div>

  <!-- Imagen Centrada y Estirada -->
  <div class="relative w-fullflex items-center justify-center">
    <img 
      src="https://www.stelorder.com/wp-content/uploads/2021/09/portada-empresario-individual.jpg" 
      alt="Empresario"
      class="h-full w-3/4 object-cover pt-6 pb-6"
    />
  </div>
</div>
